html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.headers{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    background-color: rgb(37 47 99);
    color: rgb(230, 225, 225);
}

.headers_text{
    font-family: 'Lato', sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}